@font-face {
    font-family: 'Makisupa';
    src: url('Makisupa.eot');
    src: url('Makisupa.eot?#iefix') format('embedded-opentype'),
        url('Makisupa.woff2') format('woff2'),
        url('Makisupa.woff') format('woff'),
        url('Makisupa.ttf') format('truetype'),
        url('Makisupa.svg#Makisupa') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

